.login-popup2-find {
    position: relative;
    text-align: center;
    width: 100%;
}

.form-popup2-find {
    height: 100vh;
    display: none;
    position: fixed;
    left: 45%;
    top: -5%;
    transform: translate(-45%, 5%);
    border: 1px solid #e0e0e0;
    z-index: 9;
    width: 100%;
    background: #4d6780;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.content {
    border-radius: 5px;
    background: #4d6780;
    box-shadow: 20px 20px 60px #41586d, -20px -20px 60px #597693;
    width: 646px;
    overflow: hidden;
    position: absolute;
    transform: translate(45%, 2%);
    animation: animerGauche 0.3s;
}

.content:hover {
    background: linear-gradient(145deg, #455d73, #526e89);
    box-shadow: 20px 20px 60px #41586d, -20px -20px 60px #597693;
    animation: animerGauche 0.3s;
}

.content h1 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.content .resultat-find {
    text-align: center;
    margin: 1em 0;
    padding-top: 27px;
}

.content .Lien {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-top: 27px;
}

.content input {
    width: 124px;
    height: 37px;
    background: #ffffff;
    border-radius: 5px;
    border: 2px solid #b7b5b5;
    display: flex;
    color: #4a2249;
    height: 1.5 em;
    text-align: center;
}

.content input:invalid {
    background-color: red;
    border: 1px solid #dd2d2d;
}

.content2 {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    width: 856px;
    overflow: hidden;
    position: absolute;
    transform: translate(30%, -1%);
}

.content2 h1 {
    font-size: 26px;
    padding-left: 20px;
    color: #ffffff;
}

.content2 p {
    font-size: 16px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.content .contain-find {
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.proposer-find {
    display: -webkit-inline-box;
    padding-top: 27px
}

button#button-proposer-find {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(145deg, #455d73, #526e89);
    box-shadow: 0px 0px 0px #41586d, -4px 1px 16px #597693;
    width: 106px;
    font-weight: 700;
    font-size: 15px;
    height: 37px;
    text-align: center;
    color: azure;
    border: none;
    margin-left: 15px;
}

button#button-propose-findr:hover {
    background: #67bc80;
    box-shadow: 0px 0px 0px #58a06d, inset -4px 1px 16px #76d893;
}

button.btnSave-find {
    display: none;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(145deg, #455d73, #526e89);
    box-shadow: 0px 0px 0px #41586d, -4px 1px 16px #597693;
    width: 106px;
    font-weight: 700;
    font-size: 15px;
    height: 37px;
    text-align: center;
    color: azure;
    border: none;
    margin-left: 15px;
}

button.btnSave-find:hover {
    background: #67bc80;
    box-shadow: 0px 0px 0px #58a06d, inset -4px 1px 16px #76d893;
}

p.Lien-find {
    width: 300px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    color: #af6aae;
}

p.historique-find {
    width: 300px;
    font-size: 18px;
    color: #fffdfd;
    font-weight: bold;
}

.button2 {
    display: none;
}


/* div créer au niveau du js pour afficher les résultats du jeu */

#petit_divi,
#grand_divi {
    color: #d2e5ea;
    font-size: 18px;
    font-style: italic;
}

.pBravo {
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-align: initial;
    padding-left: 58px;
}

.bravo {
    color: #abd1a6;
    font-size: 15px;
    font-weight: 900;
    font-style: italic;
    text-align: initial;
    padding-left: 58px;
}

#divImg {
    text-align: center;
}

img {
    width: 100px;
}

#tentative_divi {
    font-size: 15px;
    color: #91a2a7;
}

.petit,
.grand {
    padding: 0 20px;
}

@keyframes animerGauche {
    from {
        top: -300px;
        left: -200px;
        opacity: 0
    }
    to {
        top: 0px;
        left: 0px;
        opacity: 1
    }
    ;
}